In [2]:
import pandas as pd

# Q1. List any five functions of the pandas library with execution.

# read_csv()
# head()
# describe()
# astype()
# dtype()
#

# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [3]:
d={"A":[1,4,6,7],"B":[3,6,7,8],"C":[5,7,8,9]}

In [4]:
df=pd.DataFrame(d)

In [5]:
df

   A  B  C
0  1  3  5
1  4  6  7
2  6  7  8
3  7  8  9

In [6]:
df.reindex([1,3,5])

     A    B    C
1  4.0  6.0  7.0
3  7.0  8.0  9.0
5  NaN  NaN  NaN

# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [7]:
d={"values":[3,5,6,7],"key":[6,8,9,3]}

In [8]:
df1=pd.DataFrame(d)

In [9]:
df1

   values  key
0       3    6
1       5    8
2       6    9
3       7    3

In [10]:
df1['values'][0:3].sum()

14

# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column'Word_Count' that contains the number of words in each row of the 'Text' column.

In [11]:
d={"Text":['Himanshu','Navya','rudhrasha']}

In [12]:
df4=pd.DataFrame(d)

In [13]:
df4

        Text
0   Himanshu
1      Navya
2  rudhrasha

In [14]:
df4['word_count']=df4['Text'].apply(len)

In [15]:
df4

        Text  word_count
0   Himanshu           8
1      Navya           5
2  rudhrasha           9

# Q5. How are DataFrame.size() and DataFrame.shape() different?

# DataFrame.size() retuen an intrger respresenting the total  number of element in the DataFrame ,which is the product of the number of rows and the number of columns

# DataFrame .shape() return a tuple representing the dimensionality of the DataFrame ,which is the number of rows and the number of columns

# Q6. Which function of pandas do we use to read an excel file?

 ans..
 
 pd.read_excle("file name")

# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains emailaddresses in the format 'username@domain.com'. Write a Python function that creates a new column'Username' in df that contains only the username part of each email address.

In [16]:
d={'Email':['himanshusaini@gamil.com','navyasaini@gamil.com','rudhrashsaini@gamil.com']}

In [17]:
df5=pd.DataFrame(d)

In [18]:
df5

                     Email
0  himanshusaini@gamil.com
1     navyasaini@gamil.com
2  rudhrashsaini@gamil.com

In [19]:
df5['Email'].str.split('@').str[0]

0    himanshusaini
1       navyasaini
2    rudhrashsaini
Name: Email, dtype: object

# Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selectsall rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [26]:
df1

   values  key
0       3    6
1       5    8
2       6    9
3       7    3

In [27]:
df1.mean()

values    5.25
key       6.50
dtype: float64

In [28]:
df1['values'].mean()

5.25

In [30]:
df1.median()

values    5.5
key       7.0
dtype: float64

In [31]:
df1.std()

values    1.707825
key       2.645751
dtype: float64

# Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

# . To use the basic functions of pandas, the first and foremost necessary library that needs to be imported is NumPy. NumPy is a Python library that adds support for large, multi-dimensional arrays, matrices and high-level mathematical functions to operate on these arrays. Pandas is built on top of NumPy and relies on its core data structure, the ndarray. Without NumPy, pandas would not be able to perform its data analysis and manipulation tasks efficiently. Therefore, before importing pandas, one should always import NumPy first.